* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
    background-color: #181818;
    font-family: 'Avenir', 'Urbanist', sans-serif;
    color: #ffffff;
}

/*===================================

	Header

===================================*/

header {
	width: 100%;
	height: 16.53333vw;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #f7f7f7;
}

.header-div {
	width: 30%;
	display: flex;
	justify-content: center;
}

/*===================================

	Hamburger Menu

===================================*/

.nav {
	margin-right: auto;
}

#menuToggle svg{
	width: 24px;
	height: auto;
}

#menuToggle input {
	display: none;
}

#menu {
	display: none;
}

/*===================================

	Hamburger Menu 

===================================*/
/*===================================

	Eye

===================================*/

.eye-container {
	width: 60px;
	height: 60px;
    background-color: #f7f7f7;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.eye-container img {
	max-width: 42px;
}

/*===================================

	Eye

===================================*/
/*===================================

	Logo

===================================*/

.lusid-logo img {
	max-width: 50px;
}

/*===================================

	Logo

===================================*/
/*===================================

	Search / Cart

===================================*/

.search-container {
	margin-left: auto;
}

.search-container form {
	display: none;
}

input[type="text"] {
	font-family: 'Avenir', 'Urbanist', sans-serif;
    background: transparent;
	border-bottom: 2px solid #f7f7f7;
	color: #f7f7f7;
	font-size: 18px;
}

input[type="text"]::placeholder {
	font-family: 'Avenir', 'Urbanist', sans-serif;
    color: #f7f7f7;
}

.header-right {
	display: flex;
}

.search svg {
	width: 14px;
}

.shopping-bag svg {
    height: auto;
    width: 14px;
    margin: 0 auto;
    vertical-align: inherit;
}

/*===================================

	Search / Cart

===================================*/
/*===================================

	Header

===================================*/